*~
build/
Eclypse-Z7-SW/
src/axidma_ioctl.h
src/dma.c
src/dma.h
src/flash.c
src/flash.h
src/libaxidma.c
src/libaxidma.h
src/reg.c
src/reg.h
src/zmod.cpp
src/zmod.h
src/zmoddac1411.cpp
src/zmoddac1411.h
src/utils.c
src/utils.h

